body {
    margin: 0;
    background-color: black;
    background-image: url('https://cdn.jsdelivr.net/gh/agentN86/probable-octo-memory@master/space.gif');
    font-family: Arial, sans-serif;
    color: #ddd;
    overflow-y: hidden;
}

.wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    padding: 40px;
}

.sidebar,
.content {
    background-color: #2e2b2e;
    background-image: url('https://cdn.jsdelivr.net/gh/agentN86/probable-octo-memory@master/patternreallydark.png');
    border: 3px solid transparent;
    border-image: url('https://cdn.jsdelivr.net/gh/agentN86/probable-octo-memory@master/patterndark.png') 3 repeat;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-height: 80vh;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

nav a {
    color: #aaa;
    cursor: pointer;
}

nav a.active {
    color: white;
    font-weight: bold;
}

.content {
    height: 80vh;
    overflow: hidden;
    position: relative;
    gap: 40px;
}

/*.tab-content {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease;
      max-height: 100%;
      overflow-y: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 40px;
    }

    .tab-content.active {
      display: block;
      opacity: 1;
    }*/

.tab-content {
    transition: opacity 0.5s ease, visibility 0s 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    max-height: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px;
}

.tab-content.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 0.5s ease, visibility 0s;
}

table {
    width: 100%;
}

.captionBox,
.link-group
{
    padding: 10px;
    border: 1px solid transparent;
    background-color: #333;

    background-image: url('https://cdn.jsdelivr.net/gh/agentN86/probable-octo-memory@master/patterndark.png');
    border-image: url('https://cdn.jsdelivr.net/gh/agentN86/probable-octo-memory@master/patternreallydark.png') 3 repeat;
}

.link-group {
    text-align: center;
}
